@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


:root{
--color-primary: #f3f192;
--color-title: rgb(248, 244, 244);
--align-title: left;
--padding-container: 100px 0;
--width-container: 90%;
--max-width-container: 3000px;
--color-btn: rgb(172, 54, 54);
--text-btn: rgb(255, 253, 253);
--padding-btn: 20px 35px;
--height-shape: 20em;
}


*{
margin: 0;
padding: 0;
}

h1{
font-size: 42px;
}


h2{
font-size: 34px;
}


h3{
font-size: 28px;
}

p{
font-size: 20px;
padding-left: 20px;
padding-right:  20px;
text-align: justify;
}

.carrusel button{
 background: rgba(255, 255, 255, 0.473);  
 color: rgb(255, 255, 255);  
 border: 1px solid rgb(241, 238, 238);
 border-radius: 50%;
 width: 70px;
 height: 70px;
 font-size: 36px;
}

.carrusel button:hover{

cursor: pointer;

}

.carrusel__item{

min-width: 1005px;
display: flex;
justify-content: center;

}


h1, h2, h3, p{
color: white;     
}


.card .container h2, .card .container p,.card .container h3, .newsletter h2, .footer h2, .footer p{

     color: black;
}


.navbar{
width: 100%;
height: 90px;
background-color: #cc144b;
position: fixed;
z-index: 999;
overflow: hidden;
display: flex;
justify-content: space-around;
}


.logo{
     text-align: left;
padding-right: 1250px;
}

.searchbar{

display: flex;
align-items: center;
justify-content: center;
}


a{
text-decoration: underline;
color: white;
}

.searchbar input{
outline: none;     
padding: 10px 20px;
border-radius: 20px;
}

.navoptions{
display: flex;
list-style-type: none;
align-items: center;
}

.navoptions li{

padding: 0 20px;
cursor: pointer;
}

.navoptions li:hover{

     text-decoration: underline;
}

.crate__about{

display: flex;
flex-direction: column;
align-items: center;
}


body{
     font-family: 'Roboto Condensed', sans-serif;
     background-color: #e5e5f7;
     opacity: 1;
     background-image:  radial-gradient(#d61020 1.55px, transparent 1.55px), radial-gradient(#cc144b 1.55px, #ebe597 1.55px);
     background-size: 62px 62px;
     background-position: 0 0,31px 31px;
}

.container{
     display: flex;
     flex-direction: column;
     padding: var(--padding-container);
     margin: 0 auto;
     overflow: hidden;
     align-items: center;
}


.hero{
     padding: 20px;
     padding-top: 60px;
     height: 80vh;
     position: relative;
     --padding-container: 0;

}


.crate__picture img{
     width: 500px;
 }

.hero::after{

     content: "";
     display: block;
     position: absolute;
     height: 700PX;
     width: 100%;
     bottom:0;
     left: 0;
     background-color: #eb4141;
     z-index: -1;
     clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 55%);
}


.hero__container{
display: grid;
display: 100%;
grid-template-columns: 3fr 2fr;
place-items: center;
gap: 20px;
}


.hero__title{

font-size: 40px;

}

.hero__copy{

     font-size: 16px;
     margin: 20px 0;
}

.hero__cta{

display: inline-block ;
background-color:var(--color-btn);
color: white;
padding: var(--padding-btn);
text-align: center;
text-decoration: none;
}


.hero__img{

     width: 100%;
}


.main{

background-color: #eb4141;
margin: 0;
padding: 0;
}

main{

padding: 0 20px;

}


.title{

font-size: 28px;
text-align: var(--align-title);
color: var(--color-title);  
}





.title--border::after{

content: "";
display: block;
width: 100px;
margin-top: 20px;
height: 4px;
background: var(--color-primary);


}


.crates div{
display: flex;
align-items: center;
}


.about{

display: flex;
flex-direction: row-reverse;
}

.about div{
padding-left: 50px;
padding-right: 50px;
}

.about__product{

     width: 90%;
}

.about__paragraph{

     margin: 20px 0;
     line-height: 1.5;
     font-weight:400;
}

.about__picture{

text-align: center;

}



.about__img{

     width: 95%;
}

.card{

     background-color: #ebe597;
}


.card_copy{
margin-top: 20px;

}

.card__container{
margin: 0 auto;
margin-top: 60px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.card__item{
padding: 10px 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.card__item figure{
height: 250px;
width: 280px;
display: flex;
overflow: hidden;
padding-bottom: 20px;
}

.card__item figure img{
width: 100%;

}


.newsletter{
width: 100%;
height: 200px;
padding: 100px;
background-color: rgb(236, 229, 129);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.newsletter input{
outline: none;     
padding: 10px 20px;
border-radius: 20px;
margin-right: 20px;
}

.newsletter button{
padding: 10px 20px;
background-color: #d61020;
color: #e5e5f7;
border: 1px solid white;
border-radius: 15px;
cursor: pointer;
}

.footer__icon{
width: 50px;
}


.footer{
padding: 80px;
}

.footer__title{
padding-top: 30px;
}

@media (max-width: 1200px) {
     .hero{
          height: 50vh;
          display: flex;
     }
     .crate__picture img{
         width: 250px;
     }
     .carrusel__item{
          min-width: auto;
          width: 100%;
          flex-wrap: wrap;
     }
     }